.true {
	border: solid 5px green;
}

.false {
	border: solid 5px red;
}


form {
	background-color: gray;
	margin: auto;
	max-width: 600px;
	min-width: 452px;
	padding-right: 20px;
	padding-top: 14px;
	margin-top: 30px;
}
.alertPanel {
	float: right;
	width: 100px;
	height: 300px;
	background-color: gray;
	padding-left: 6px;
	line-height: 2.5;
	font-size: 12px;
}
span {
	width: 70px;
}
li {
	text-align: right;
	list-style-type: none;
	font-weight: bold;
	font-size: 22px;
	/*padding-right: 100px;*/
}


/*re-architect form to classes good for the look of a larger site*/